@font-face {
    font-family: "RF Dewi Expanded";
    src: url(../fonts/RFDewiExpanded-Black.woff2);
}

@font-face {
    font-family: "RF Dewi Extended";
    src: url(../fonts/RFDewiExtended-Black.woff2);
}

body {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 10px;
    @media (min-width: 768px) {
        margin: 0 20px;
    }
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: black;
    padding:26px 11px;
    box-sizing: border-box;
    @media (min-width:768px) {
        justify-content: space-around;
    }
    @media (min-width: 1200px) {
        justify-content: space-evenly;
    }
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    @media (min-width: 768px) {
        gap: 54px;
    }
}

.header-catalog {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    @media (max-width: 1200px) {
        display: none;
    }
}

.header-catalog-elem {
    color: white;
    list-style: none;
}

.header-catalog-text {
    margin: 0;
    color: #FFF;
    font-family: "RF Dewi Extended";
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.arrow-down::after {
    content: url(../image/down_arrow.svg);
    padding-left: 11px;
}

.header-list {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
    padding: 7px;
    gap: 22px;
}

.search-logo-left {
    @media (min-width: 768px) {
        display: none;
    }
}

.list-logo {
    @media (min-width: 1200px) {
        display: none;
    }
}

.search-logo-right {
    @media (max-width: 768px) {
        display: none;
    }
}

.header-logo-left {
    @media (max-width:768px) {
        display: none;
    }
}

.header-logo-center {
    @media (min-width:768px) {
        display: none;
        gap: 0;
    }
}

.market-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.market-notification {
    position: absolute;
    background-color:aqua;
    color: white;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: 700;
    top: 0;
    right: 0;
    @media(min-width: 768px) {
        position: static;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 30px;
    }
}

.market-text {
    color: var(--light_gray, #8C8F96);
    text-align: center;
    font-family: "Cera Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    @media (max-width:768px) {
        display: none;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
    gap: 24px;
    margin-top: 25px;
    margin-bottom: 32px;
    padding: 43px 17px 15px 17px;
    border-radius: 7px;
    background: radial-gradient(29.15% 68.25% at 21.76% 19.46%, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.00) 100%), url(../image/hero-background.jpg) lightgray -124.83px -177.815px / 177.303% 167.19% no-repeat;
    background-position: center, center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 768px) {
        gap: 19px;
        padding: 59px 70px 32px 70px;
        background: radial-gradient(141.69% 67.15% at 88.84% 33.6%, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.00) 100%), url(../image/hero-background.jpg) lightgray -258.547px -359.394px / 163.674% 248.398% no-repeat, url(../image/hero-background.jpg) lightgray -0.945px -41.218px / 100.389% 163.464% no-repeat, url(../image/hero-background.jpg) lightgray 0px -16.106px / 100% 107.142% no-repeat, linear-gradient(180deg, #9DF2EB 0%, #9CF3EA 100%);
        background-size: cover;
        background-position: center, center top;
    }
    @media (min-width: 1200px) {
        gap: 63px;
        border-radius: 7px;
        background: radial-gradient(141.69% 67.15% at 88.84% 33.6%, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.00) 100%), url(../image/hero-background.jpg) lightgray 0px -480.255px / 100% 229.608% no-repeat, url(//image/hero-background.jpg) lightgray -2px -57.668px / 100.389% 163.464% no-repeat, url(../image/hero-background.jpg) lightgray 0px -22.534px / 100% 107.142% no-repeat, linear-gradient(180deg, #9DF2EB 0%, #9CF3EA 100%);
        background-position: top, 70%;
    }
}

.hero-top {
    display: flex;
    flex-direction: column;
    max-width: 225px;
    @media (min-width: 768px) {
        max-width: 367px;
        gap: 19px;
    }
    @media (min-width:1200px) {
        max-width: 571px;
    }
}

.hero-bottom {
    display: flex;
    @media (min-width: 768px) {
        max-width: 367px;
    }
}

.swipe {
    width: 67px;
}

.hero-title {
    color: #171819;
    font-family: "RF Dewi Expanded";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin: 0;
    @media (min-width: 768px) {
        font-size: 34px;
        line-height: 43px;
        padding: 0;
    }
    @media (min-width: 1200px) {
        font-size: 51px;
        line-height: 63px;
    }
}

.hero-text {
    color: var(--black, #121214);
    font-family: "RF Dewi Extended";
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 13px;
    margin: 0;
    @media (min-width: 768px) {
        padding: 0;
        font-size: 17px;
        line-height: 27px;
    }
    @media (min-width: 1200px) {
        font-size: 19px;
        line-height: 32px;
    }
}

.hero-button {
    max-width: 225px;
    border: none;
    border-radius: 5px;
    background: var(--black, #121214);
    padding: 23px 27px;
    box-sizing: border-box;
}

.hero-button-text {
    color: #FFF;
    font-family: "RF Dewi Expanded";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 200% */
    text-transform: uppercase;
}

.hero-button-text::after {
    content: url(../image/hero-button-right-arrow.svg);
    padding-left: 10px;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    gap: 60px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.block-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-bottom {
    display: flex;
    gap: 45px;
    justify-content: space-between;
}

.block-title {
    color: var(--black, #121214);
    font-family: "RF Dewi Expanded";
    font-size: 19px;
    font-weight: 900;
    line-height: 42px;
    text-transform: uppercase;
}

.block-more-mobile {
    @media (min-width: 768px) {
        display: none;
    }
}

.block-more-desktop {
    @media (max-width: 768px) {
        display: none;
    }
}

.block-more {
    color: #000;
    margin: 0;
    padding: 0;
    font-family: "RF Dewi Extended";
    font-size: 12px;
    font-weight: 800;
    line-height: 23px; /* 191.667% */
    text-transform: uppercase;
    border: none;
    background: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.block-more::after {
    content: url(../image/catalog-right-arrow.svg);
    padding-left: 10px;
}

.block-body {
    display: flex;
    gap: 20px;
}

.card-desktop {
    @media (max-width: 1200px) {
        display: none;
    }
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.card-img {
    display: block;
    max-width: 318px;
    max-height: 318px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-star {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
}

.card-name {
    color: #000;
    font-family: "RF Dewi Extended";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
    margin: 0;
}

.card-price {
    color: #3C3C3C;
    font-family: "RF Dewi Extended";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background: radial-gradient(115.19% 118.79% at 16.91% 0%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(274deg, #BCBFC7 -4.34%, #D5D7DC 46.57%), #D9D9D9;
}

.calculator-container {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    padding: 33px 11px 36px 11px;
}

.calculator-bg {
    position: absolute;
    inset: 0;
    background: url(../image/hero-background.jpg) center / cover no-repeat;
    transform: scaleX(-1);   /* зеркалим только фон */
    z-index: 0;
    background: linear-gradient(231deg, #0D99F8 8.52%, #21A0F8 12.76%, #54B5FF 33.8%, #0DBBF8 83.23%, #0DDBF8 100.96%);
}

.calculator-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 318px;
    margin: 0 auto;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    max-width: 318px;
    margin: 0 auto;
}

.calculator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.calculator-title {
    color: #FFF;
    text-align: center;
    font-family: "RF Dewi Expanded";
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 139.13% */
    text-transform: uppercase;
    margin: 0;
}

.calculator-text {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    font-family: sans-serif;
}

.calculator-block {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 23px;
}

.circle-container {
    position: relative;
}

.circle {
    display: block;
    fill: rgba(255, 255, 255, 0.01);
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.46);
}

.circle-text {
    font-family: "RF Dewi Expanded";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 58.333% */
}

.calculator-block-text {
    font-family: "RF Dewi Extended";
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
}

.calculator-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 318px;
    margin-top: 14px;
    border: none;
    border-radius: 5px;
    background: var(--black, #121214);
    padding: 23px 27px;
}

.calculator-button-text {
    color: #FFF;
    font-family: "RF Dewi Expanded";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 200% */
    text-transform: uppercase;
}

.calculator-button-text::after{
    content: url(../image/hero-button-right-arrow.svg);
    padding-left: 15px;
}

